<section class="contact">
    <h2 class="contact-title">Skontaktuj się ze mną</h2>

    <div class="contact-container">

        <!-- Lewa strona - informacje kontaktowe -->
        <div class="contact-info">
            <div class="info-item">
              <img src="assets/icon/gmail.png" alt="Email" class="info-icon" />
              <span>Email: <a href="mailto:slupiktomasz@gmail.com">slupiktomasz@gmail.com</a></span>
            </div>
          
            <div class="info-item">
              <img src="assets/icon/linkedin.png" alt="LinkedIn" class="info-icon" />
              <span>LinkedIn: <a href="https://www.linkedin.com/in/tomasz-słupik-13357318b/" target="_blank">Tomasz Słupik</a></span>
            </div>
          
            <div class="info-item">
              <img src="assets/icon/phone.png" alt="Telefon" class="info-icon" />
              <span>Telefon: <a href="tel:+48530869087">530 869 087</a></span>
            </div>
          
            <div class="info-item">
              <img src="assets/icon/map.png" alt="Lokalizacja" class="info-icon" />
              <span>Lokalizacja: Warszawa, Polska</span>
            </div>
          </div>
          

    <!-- Prawa strona - formularz kontaktowy -->
    <form [formGroup]="contactForm" (ngSubmit)="onSubmit()" class="contact-form" novalidate
    >
      <!-- Imię i nazwisko -->
      <div class="input-group">
        <label for="name">Imię i nazwisko</label>
        <input
          id="name"
          type="text"
          name="name"
          formControlName="name"
          [class.invalid]="contactForm.get('name')?.invalid && (contactForm.get('name')?.touched || formSubmitted)"
          placeholder="Wpisz swoje imię i nazwisko"
        />
        <div class="error" *ngIf="contactForm.get('name')?.invalid && (contactForm.get('name')?.touched || formSubmitted)">
          Imię jest wymagane.
        </div>
      </div>

      <!-- Email -->
      <div class="input-group">
        <label for="email">Email</label>
        <input
          id="email"
          type="email"
          name="email"
          formControlName="email"
          [class.invalid]="contactForm.get('email')?.invalid && (formSubmitted || contactForm.get('email')?.touched)"
          placeholder="Wpisz swój adres e-mail"
        />
        <div class="error"
          *ngIf="contactForm.get('email')?.invalid && (formSubmitted || contactForm.get('email')?.touched)">
          Proszę podać poprawny adres e-mail.
        </div>
      </div>
      

      <!-- Wiadomość -->
      <div class="input-group">
        <label for="message">Treść wiadomości</label>
        <textarea
          id="message"
          formControlName="message"
          name="message"
          rows="4"
          placeholder="Wpisz swoją wiadomość"
          [class.invalid]="contactForm.get('message')?.invalid && (contactForm.get('message')?.touched || formSubmitted)"
        ></textarea>
        <div class="error" *ngIf="contactForm.get('message')?.invalid && (contactForm.get('message')?.touched || formSubmitted)">
          Wiadomość jest wymagana.
        </div>
      </div>

      <button class="contact-button" type="submit">
        Wyślij wiadomość
      </button>
    </form>
        
    </div>
</section>
