<section class="contact">
    <h2 class="contact-title">Skontaktuj się ze mną</h2>

    <div class="contact-container">

        <!-- Lewa strona - informacje kontaktowe -->
        <div class="contact-info">
            <div class="info-item">
              <img src="assets/icon/gmail.png" alt="Email" class="info-icon" />
              <span>Email: <a href="mailto:slupiktomasz@gmail.com">slupiktomasz@gmail.com</a></span>
            </div>
          
            <div class="info-item">
              <img src="assets/icon/linkedin.png" alt="LinkedIn" class="info-icon" />
              <span>LinkedIn: <a href="https://www.linkedin.com/in/tomasz-słupik-13357318b/" target="_blank">Tomasz Słupik</a></span>
            </div>
          
            <div class="info-item">
              <img src="assets/icon/phone.png" alt="Telefon" class="info-icon" />
              <span>Telefon: <a href="tel:+48530869087">530 869 087</a></span>
            </div>
          
            <div class="info-item">
              <img src="assets/icon/map.png" alt="Lokalizacja" class="info-icon" />
              <span>Lokalizacja: Warszawa, Polska</span>
            </div>
          </div>
          

        <!-- Prawa strona - formularz kontaktowy -->
        <form class="contact-form">
            <div class="input-group">
                <label for="name">Imię i nazwisko</label>
                <input type="text" id="name" name="name" placeholder="Wpisz swoje imię i nazwisko" required>
            </div>
            <div class="input-group">
                <label for="message">Treść wiadomości</label>
                <textarea id="message" name="message" placeholder="Wpisz swoją wiadomość" rows="4" required></textarea>
            </div>
            <button type="submit" class="contact-button">Wyślij wiadomość</button>
        </form>

    </div>
</section>
