
.custom-button {
    position: relative;
    display: inline-block;
    background: linear-gradient(45deg, #00e6b3, #008d73);
    color: var(--skils-bg);
    font-size: 1rem;
    font-weight: bold;
    padding: 12px 25px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    overflow: hidden;
    transition: background 0.3s, box-shadow 0.3s;
    box-shadow: 0px 4px 10px rgba(0, 230, 179, 0.4);
}


.custom-button::before {
    content: "";
    position: absolute;
    top: 0;
    left: -115%;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.3);
    transform: skewX(-45deg);
    transition: left 0.5s ease-in-out;
}


.custom-button:hover::before {
    left: 115%;
}

.custom-button:hover {
    box-shadow: 0px 6px 20px rgba(0, 230, 179, 0.6);
}