<button class="burger" (click)="toggleMenu()">
    <span class="burger-icon"></span>
  </button>
  <div class="menu" [class.open]="menuOpen">
    <nav>
      <a href="#" style="animation-delay: 0.2s">Home</a>
      <a routerLink="/o_mnie" style="animation-delay: 0.3s" (click)="closeMenu()">O mnie</a>
      <!-- <a href="#" (click)="scrollToSection('portfolio')" style="animation-delay: 0.4s">Portfolio</a> -->
      <a routerLink="/umiejetnosci" style="animation-delay: 0.5s" (click)="closeMenu()">Umiejętności</a>
      <a routerLink="/wyksztalcenie" style="animation-delay: 0.6s" (click)="closeMenu()">Wykształcenie</a>
      <a routerLink="/kontakt" style="animation-delay: 0.7s" (click)="closeMenu()">Kontakt</a>
    </nav>
  </div>
  