<!-- 1 wersja: -->
<!-- <div class="experience-section" [class.show]="isVisible">
  <div class="experience">
    <h2 class="experience-title">Doświadczenie</h2>
    <div class="timeline">
      <div class="timeline-item" *ngFor="let item of experienceItems">
        <div class="timeline-content" [ngClass]="item.position">
          <h3>{{ item.title }}</h3>
          <span class="company">{{ item.company }}</span>
          <span class="date"></span>
          <p>{{ item.date }}</p>
        </div>
      </div>
    </div>
  </div>
</div> -->


 <!-- 2 wersja: -->
 <div class="timeline-wrapper">
  <button class="scroll-arrow left" (click)="scrollTimeline(-1)">
    <img src="assets/icon/left.svg" alt="W lewo" />
  </button>

  <div class="horizontal-timeline" #timelineContainer>
    <div class="timeline-step" *ngFor="let item of experienceItems">
      <div class="step-icon">
        <img src={{item.img}} alt="Ikona" />
      </div>
      <div class="step-line"></div>
      <div class="step-content">
        <h3>{{ item.title }}</h3>
        <span class="company">{{ item.company }}</span>
        <span class="date">{{ item.date }}</span>
      </div>
    </div>
  </div>

  <button class="scroll-arrow right" (click)="scrollTimeline(1)">
    <img src="assets/icon/right.svg" alt="W prawo" />
  </button>
</div>
