<div class="experience">
    <h2 class="experience-title">Doświadczenie</h2>
        <div class="timeline">
            <div class="timeline-item">
              <div class="timeline-content left">
                <h3>Senior Full Stack Developer</h3>
                <span class="company">XYZ Tech Solutions</span>
                <span class="date">2021 - Present</span>
                <p>Developing and maintaining scalable web applications using Angular, Node.js, and cloud technologies.</p>
              </div>
            </div>
            <div class="timeline-item">
              <div class="timeline-content right">
                <h3>Full Stack Developer</h3>
                <span class="company">ABC Software</span>
                <span class="date">2018 - 2021</span>
                <p>Led a team in building high-performance applications, improving UI/UX, and optimizing backend services.</p>
              </div>
            </div>
            <div class="timeline-item">
              <div class="timeline-content left">
                <h3>Junior Developer</h3>
                <span class="company">Startup Inc.</span>
                <span class="date">2016 - 2018</span>
                <p>Worked on front-end and backend development, enhancing project performance and responsiveness.</p>
              </div>
            </div>
        </div>
      
</div>
